@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'DM Sans', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  /* COLORS */

  --black-900: #000000;
  --white-900: #ffffff;
  --grey-400: #dfdfdf;
  --blue-400: #5a77ff;
  --purple-400: #bc7198;
  --yellow-400: #ffc593;

  /* Font-weight */

  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;

  /* COLORS */

  --fs-800: 40px;
  --fs-700: 24px;
  --fs-600: 18px;
  --fs-500: 15px;
  --fs-400: 12px;

  /* SPACING */
  --p-block-spacing: 2rem;
  --box-block-padding: 1rem;
  --global-inline-padding: max(2rem, calc((100vw - 1440px) / 2));

  /* TRANSITION TIME */
  --time: 0.3s;
}

body {
  overflow-x: hidden;
}

.tp-1,
.tp-2,
.tp-3,
.tp-4 {
  font-weight: var(--fw-700);
}

.tp-1 {
  font-size: var(--fs-800);
  line-height: 48px;
  letter-spacing: 4.17px;
}

.tp-2 {
  font-size: var(--fs-700);
  line-height: 25px;
  letter-spacing: 0;
}

.tp-3 {
  font-size: var(--fs-600);
  line-height: 25px;
  letter-spacing: 0;
}

.tp-4 {
  font-size: var(--fs-400);
  line-height: 16px;
  letter-spacing: 2px;
}

.tp-body {
  font-size: var(--fs-500);
  line-height: 25px;
  letter-spacing: 0;
  font-weight: var(--fw-400);
}

.mx-width {
  padding-inline: var(--global-inline-padding);
}

@media (max-width: 1024px) {
}

@media (max-width: 850px) {
  :root {
    --global-inline-padding: max(1rem, calc((100vw - 1440px) / 2));
  }
}
